<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>pproxy</string>
    <key>ProgramArguments</key>
    <array>
       <string>/Users/<your-user>/scripts/pproxy.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>1</integer>
    <key>StandardOutPath</key>
    <string>/Users/<your-user>/scripts/pproxy.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/<your-user>/scripts/pproxy-stderr.log</string>
  </dict>
</plist>